steps:
  - script: sudo cp -r $(Pipeline.Workspace)/jsBuild/* /var/www/html
  - script: cat <<< $(jq '.productEndpoint = "http://octopub-dev-8c60eefb348225c4.elb.ap-southeast-2.amazonaws.com:8083/api/products"' /var/www/html/config.json) > /var/www/html/config.json
