trigger:
  branches:
    include:
      - main
      - master
  paths:
    include:
      - js/**/*
      - azure-devops/js-frontend/*

pool:
  vmImage: ubuntu-latest

parameters:
  - name: OctopusServer
    displayName: The name of the Octopus connection
    default: Octopus
    type: string
  - name: OctopusSpace
    displayName: The ID of the Octopus space
    default: 'Spaces-1370'
    type: string
  - name: OctopusProject
    displayName: The ID of the Octopus project
    default: 'Projects-3449'
    type: string

stages:
  - stage: build
    displayName: Build
    jobs:
      - job: build_app
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: Bash@3
            displayName: "Install Libraries"
            inputs:
              targetType: inline
              script: yarn install
              workingDirectory: js/frontend
          - task: Bash@3
            displayName: "Build Application"
            inputs:
              targetType: inline
              script: yarn build
              workingDirectory: js/frontend
          - publish: './js/frontend/build'
            displayName: 'Capture Artifacts'
            artifact: jsBuild
  - stage: deploy
    displayName: Deploy
    jobs:
      - deployment: DeployWeb
        displayName: Deploy Web App
        environment:
          name: Development
          resourceType: VirtualMachine
          tags: web
        strategy:
          runOnce:
            deploy:
              steps:
                - script: ls $(Pipeline.Workspace)/jsBuild