trigger:
  - main
  - master

pool:
  vmImage: ubuntu-latest

variables:
  - name: OctopusServer
    value: Octopus
  - name: OctopusSpace
    value: 'Spaces-1370'
  - name: OctopusProject
    value: 'Projects-3448'

stages:
  - stage: build
    displayName: Build
    jobs:
      - job: build_app
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: Bash@3
            inputs:
              targetType: inline
              script: ./mvnw clean install --batch-mode -DskipTests
              workingDirectory: java
          - task: Bash@3
            inputs:
              targetType: inline
              script: ./mvnw clean package --batch-mode -DskipTests
              workingDirectory: java/products-microservice
  - stage: deploy
    displayName: Deploy
    jobs:
      - job: deploy_app
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: OctopusPack@4
            inputs:
              PackageId: 'products-service'
              PackageFormat: 'Zip'
              PackageVersion: '1.0.$(Build.BuildNumber)'
              SourcePath: 'java/products-microservice/target'
              Include: 'products-microservice-runner.jar'
              Overwrite: true
          - task: OctopusPush@5
            inputs:
              OctoConnectedServiceName: ${{ variables.OctopusServer }}
              Space: ${{ variables.Octopus.Space }}
              Package: 'products-service.1.0.$(Build.BuildNumber).zip'
              Replace: 'true'
          - task: OctopusCreateRelease@5
            inputs:
              OctoConnectedServiceName: ${{ variables.OctopusServer }}
              Space: ${{ variables.OctopusSpace }}
              ProjectName: ${{ variables.OctopusProject }}
              ReleaseNumber: '1.0.$(Build.BuildNumber)'
          - task: OctopusDeployRelease@5
            inputs:
              OctoConnectedServiceName: ${{ variables.OctopusServer }}
              Space: ${{ variables.OctopusSpace }}
              Project: ${{ variables.OctopusProject }}
              ReleaseNumber: 'latest'
              Environments: '1.0.$(Build.BuildNumber)'