trigger:
  - main
  - master

pool:
  vmImage: ubuntu-latest

variables:
  - name: OctopusServer
    value: Octopus
  - name: OctopusSpace
    value: 'Spaces-1370'
  - name: OctopusProject
    value: 'Projects-3448'

stages:
  - stage: build
    displayName: Build
    jobs:
      - job: build_app
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: Bash@3
            inputs:
              targetType: inline
              script: |
                # Download and extract a local maven repo cache. This speeds up build times.
                # Regenerate this by doing a "./mvnw install" and then "7z a repository.7z -r repository"                
                curl https://octopus-sales-engineering.s3.ap-southeast-2.amazonaws.com/repository.7z -o ~/repository.7z
                mkdir -p ~/.m2
                cd ~/.m2
                7z x -aoa ~/repository.7z
                # Verify we did this in the correct dir
                echo "Local Maven repo"
                mvn help:evaluate -Dexpression=settings.localRepository -q -DforceStdout
          - task: Bash@3
            inputs:
              targetType: inline
              script: |
                ./mvnw clean install --batch-mode -DskipTests
              workingDirectory: java
          - task: Bash@3
            inputs:
              targetType: inline
              script: ./mvnw clean package --batch-mode -DskipTests
              workingDirectory: java/products-microservice
          - publish: '$(Build.ArtifactStagingDirectory)/java/products-microservice/target/products-microservice-runner.jar'
            displayName: 'Java JAR'
            artifact: javaJar
  - stage: deploy
    displayName: Deploy
    jobs:
      - job: deploy_app
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - download: current
            artifact: javaJar
          - task: OctopusPack@4
            inputs:
              PackageId: 'products-service'
              PackageFormat: 'Zip'
              PackageVersion: '1.0.$(Build.BuildNumber)'
              SourcePath: '$(Pipeline.Workspace)/javaJar'
              Include: 'products-microservice-runner.jar'
              Overwrite: true
          - task: OctopusPush@5
            inputs:
              OctoConnectedServiceName: ${{ variables.OctopusServer }}
              Space: ${{ variables.Octopus.Space }}
              Package: 'products-service.1.0.$(Build.BuildNumber).zip'
              Replace: 'true'
          - task: OctopusCreateRelease@5
            inputs:
              OctoConnectedServiceName: ${{ variables.OctopusServer }}
              Space: ${{ variables.OctopusSpace }}
              ProjectName: ${{ variables.OctopusProject }}
              ReleaseNumber: '1.0.$(Build.BuildNumber)'
          - task: OctopusDeployRelease@5
            inputs:
              OctoConnectedServiceName: ${{ variables.OctopusServer }}
              Space: ${{ variables.OctopusSpace }}
              Project: ${{ variables.OctopusProject }}
              ReleaseNumber: 'latest'
              Environments: '1.0.$(Build.BuildNumber)'